@use "~styles/app.scss" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  @include transition(background, 0.2s);

  &_white {
    color: $color-text-muted;
    background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, rgb(193 199 208 / 2%) 100%), $color-white;
    box-shadow:
      0 1px 2px 0 $color-shadow-neutral,
      0 0 0 1px $color-shadow-neutral-ring;

    &:hover {
      background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, rgb(193 199 208 / 2%) 100%), #f5f6f8;
    }
  }

  &_blue {
    color: $color-white;
    background: linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, rgb(193 199 208 / 2%) 100%), $color-brand-blue;
    box-shadow:
      0 1px 2px 0 $color-shadow-blue,
      0 0 0 1px $color-brand-blue-ring;

    &:hover {
      background:
        linear-gradient(180deg, rgb(255 255 255 / 0%) 0%, rgb(193 199 208 / 2%) 100%), $color-brand-blue-hover;
    }
  }
}
