@use "~styles/app.scss" as *;

.toolbar {
  display: flex;
  gap: 4px;
  align-items: center;
  padding-bottom: 7px;
}

.instant {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}

.bolt {
  color: $color-brand-blue;
}

.onlineSwitch {
  flex: 0 0 234px;
  justify-content: space-between;
  width: 234px;
  white-space: nowrap;
}

.deliverySwitch {
  flex: 0 0 249px;
  justify-content: space-between;
  width: 249px;
  white-space: nowrap;
}

.search {
  flex: 0 0 317px;
  width: 317px;
  border-radius: $border-radius-md;

  input {
    height: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
