// Base colors
$color-white: #fff;
$color-black: #000;

// Brand colors
$color-brand-blue: #4e75ff;
$color-brand-blue-hover: #3d63e8;
$color-brand-blue-ring: #4665d2;

// Text colors
$color-text-muted: #36394a;
$color-text-gray: #6e7076;

// Icon colors
$color-icon-muted: #9a9ba3;

// Shadow colors
$color-shadow-neutral: rgb(164 172 185 / 24%);
$color-shadow-neutral-ring: #f7f7f7;
$color-shadow-blue: rgb(57 89 204 / 50%);
$color-shadow-input: rgb(153 161 176 / 16%);
$color-shadow-input-ring: rgb(17 38 66 / 8%);
