@use "~styles/app.scss" as *;

.header {
  width: 100%;
  background: $color-white;
  border-bottom: 1px solid $color-border-gray;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1128px;
  padding: 12px 0;
  margin: 0 auto;
}

.brand {
  display: flex;
  gap: 50px;
  align-items: center;
}

.search {
  width: 384px;
}

.actions {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav {
  display: flex;
  gap: 16px;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 8px;
  align-items: center;
}

.loginButton {
  width: 58px;
}

.registerButton {
  width: 114px;
}
