@use "~styles/app.scss" as *;

.tabs {
  display: flex;
  gap: 4px;
  align-items: center;
}

.tab {
  height: 32px;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $color-brand-text-blue;
  cursor: pointer;
  background: $color-brand-surface;
  border: none;
  border-radius: $border-radius-default;
  @include transition(background 0.15s, color 0.15s);

  &:hover {
    color: $color-brand-blue-hover;
    background: $color-brand-surface-hover;
  }

  &_active {
    color: $color-white;
    background: $color-brand-text-blue;

    &:hover {
      color: $color-white;
      background: $color-brand-blue-hover;
    }
  }
}
